random_texts/chir.htm
random_texts/chir.txt
random_texts/chir1.txt
random_texts/chir2.txt
random_texts/chir1_30.txt
random_texts/chir2_30.txt
random_texts/tkt.html
random_texts/tkt.txt
random_texts/anna.txt
random_texts/anna_30.txt
random_texts/tom.txt
random_texts/tom_30.txt
random_texts/avar1.txt
random_texts/avar1_30.txt
random_texts/avar2.txt
random_texts/avar2_30.txt
bible_texts/ava-x-bible.txt
bible_texts/agx-x-bible.txt
bible_texts/dar-x-bible.txt
bible_texts/eng-x-bible-newinternational.txt
bible_texts/rus-x-bible-synodal.txt
bible_texts/tab-x-bible.txt
bible_texts/ava-luke.txt
bible_texts/agx-luke.txt
bible_texts/dar-luke.txt
bible_texts/eng-luke.txt
bible_texts/rus-luke.txt
bible_texts/tab-luke.txt
.DS_Store
random_texts_cleaned/avar-drama.txt
random_texts_cleaned/avar-poetry.txt
random_texts_cleaned/eng-tom-sawyer.txt
random_texts_cleaned/rus-anna-karenina.txt
sampling/.DS_Store
bible_texts/.DS_Store
folklore_texts/.DS_Store
folklore_texts/*.txt
folklore_texts/SVOD/*.txt
folklore_texts/SVOD/*.doc